@import url('https://fonts.googleapis.com/css2? family= Anek+Latin:wght@200 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: H'Anek Latin', sans-serif;
    box-sizing: border-box;
}

body {
    height: auto;
    width: auto;
    padding: 3px;
    scroll-behavior: smooth;
    background: linear-gradient(45deg,#051937,#5877CF,#6DEF9A,#A8EB12);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 7s ease-in-out infinite;
    }

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

/* Header */

header {
    grid-area: "encabezado";
    border-bottom: #62FC47 solid;
    height: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 10px;
    align-items: center;
    color: #D575F3;
}

header nav a {
    text-decoration: none;
    color: #D575F3;
    transition: background-color .5;
}

.logo {
    text-align: center;
}

.logo .logoImagen {
    font-size: 20px;
}

.logo p {
    font-size: 8px;
}

a:hover {
    color:red;
    background-color: violet;
}

.lista {
    display: block;
}

.lista li{
    list-style: none;
}

.lista ul {
    list-style: none;
}

.lista ul li {
    display: block;
}

.lista li ul {
    display: none;
    position: absolute;
    padding: 5px;
}

.lista li:hover > ul {
    display: block;
    float: left;
    padding: 7px;
    font-size: 10px;
}

/* Footer */

.footer {
    grid-area: "pie";
    border-top: #62FC47 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.barra ul li{
    list-style: none;
}
.barra ul li a {
    color: #D575F3;
    text-decoration: none;
    font-size: 10px;
}
.footerRedes {
    color: #D575F3;
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
}
.footerCopy {
    color: red;
    font-size: 10px;
}

/* Boton */

.subir {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 100px;
    right: 40px;
    color: springgreen;
    border: 2px beige solid;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    box-shadow: 0 0 5px black;
}