@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
/*C:\Users\Usuario\Desktop\root>sass --watch css/estilos.scss css/index.css*/
$color1: #8D1029;
$color2: #16080E;
$color3: white;
$color4: red;
$color5: black;
$fontSize1: 16px;
$fontFamily: 'Oxygen', sans-serif;
$borderRadius: 0.25rem;
* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
    box-sizing: border-box;
}
body {
    height: auto;
    width: auto;
    padding: 3px;
    scroll-behavior: smooth;
    background-color: $color2;
}

/* COMIENZO BOOTSTRAP */
/*----------------------------------------------------------------------------------------------*/
a:hover {
    color: $color3;
    background-color: $color1;
}
/*----------------------------------------------------------------------------------------------*/
/* COMIENZO HEADER */
.headerIndex .navbar {
    background-color: transparent !important;
    font-size: $fontSize1;
}
.navbar {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid $color3;
    box-shadow: 0 0 5px $color3;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $color1;
    text-shadow: 0 0 5px $color1;
}
.navbar-light .navbar-nav .nav-link {
    color: $color3;
    text-shadow: 0 0 5px $color1;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: $color3;
    background-color: $color1;
    text-shadow: 0 0 5px $color3;
}
.dropdown-menu {
    background-color: $color2;
}
.dropdown-item {
    color: $color1;
    text-shadow: 0 0 5px $color1;
}
.logo {
    text-align: center;
}
.logo .logoImagen a{
    font-size: 20px;
    color: $color1;
    text-shadow: 0 0 5px $color1;
}
.logoText {
    font-size: $fontSize1;
    color: $color3;
    text-shadow: 0 0 5px $color3;
}
.logoText .realidad {
    color: $color1;
    text-shadow: 0 0 5px $color1;
}
.navbar-light .navbar-toggler {
    border-color: $color3;
    box-shadow: 0 0 5px $color3;
    background-color: $color1;
}
/* FIN HEADER */
/*----------------------------------------------------------------------------------------------*/
/*MIGAJA*/
.migaja {
    padding: 5px;
    width: 50%;
    margin-bottom: 0;
}
.breadcrumb {
    padding: 0;
    background-color: transparent;
}
.breadcrumb-item.active {
    color: $color1;
    text-shadow: 0 0 5px $color1;
}
.breadcrumb a {
    color: $color3;
    text-shadow: 0 0 5px $color3;
}
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Comienzo index---------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO MAIN INDEX*/
.jumbotron {
    background-image: url(../imagen/fondo19.jpg);
    border-image: $borderRadius;
    color: $color3;
    text-shadow: 0 0 5px $color3;
    .titulo {
        color: $color1;
        padding: 3px;
        text-align: center;
        text-decoration: underline;
        animation: bounce; 
        animation-duration: 2s;
        text-shadow: 0 0 5px $color1;
    }
    .subIndex {
        padding: 3px;
        text-align: center;
        text-decoration: underline;
    }
}
/*FIN MAIN INDEX*/
.sectionIndex {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color3; 
    height: auto;
    text-shadow: 0 0 5px $color3;
    margin: 5px;
    padding: 5px;
}
.parrafoIndex {
    padding: 3px;
    line-height: 20px;
}
.sectionIndex strong {
    color: $color1;
    text-shadow: 0 0 5px $color1;
}
.question {
    margin: 4px;
    padding: 4px;
}
.list-group-item {
    margin: 0;
    background-color: $color2;
}
.imagen1Index {
    background-image: url(../imagen/indexImagen1.jpg);
    padding: 15px;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin: 10px;
    border: 1px solid $color1;
    border-radius: $borderRadius;
    box-shadow: 0 0 5px $color1;
}

/*----------------------------------------------------------------------------------------------*/
.subTitle {
    text-align: center;
    color: $color1; 
    text-shadow: 0 0 4px $color1;
    border: 1px solid $color1;
    border-radius: $borderRadius;
    box-shadow: 0 0 5px $color1;
    background-image: url(../imagen/fondo19.jpg);
}
/*----------------------------------------------------------------------------------------------*/
/* COMIENZO SECTION INDEX*/
.contenidoIndex {
    text-align: center;
    color: $color1; 
    height: auto;
    text-shadow: 0 0 5px $color1;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.more {
    padding: 15px;
}
.contenidoIndex a {
    background-color: $color1;
    padding: 10px;
    border-radius: $borderRadius;
    line-height: 1.5;
    box-shadow: 0 0 5px $color3; 
    margin: 15px;
    border: 1px $color3 solid;
    color: $color3;
    text-shadow: 0 0 5px $color3;
}
.contenidoIndex a:hover {
    color: $color2;
    background-color: $color3;
}
/* FIN SECTION INDEX*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Fin Index--------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Comienzo Binarias---------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO MAIN BINARIAS*/
.jumbotronBinarias {
    background-image: url(../imagen/fondo19.jpg);
    .subBinarias {
    padding: 3px;
    text-decoration: underline;
    text-align: center;
    }
}
/*FIN MAIN BINARIAS*/
/*----------------------------------------------------------------------------------------------*/
/* COMIENZO SECTION BINARIAS */
.sectionBinarias {
    text-align: center;
    color: $color3; 
    height: auto;
    text-shadow: 0 0 5px $color3;
}
.parrafoBienarias {
    padding: 3px;
    line-height: 20px;
    height: 540px;
}
.pBinarias strong {
    color: $color1;
    text-shadow: 0 0 5px $color1;
}
.imagen1Binarias {
    padding: 15px;
    background-image: url(../imagen/opciones-binarias-1.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin: 20px;
    border: 1px solid $color1;
    border-radius: $borderRadius;
    box-shadow: 0 0 5px $color1;
}
/*Utilizando Extend*/
.imagen2Binarias {
    background-image: url(../imagen/opciones-binarias-2.jpg);
    @extend .imagen1Binarias;
}
/* FIN SECTION BINARIAS */
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Fin Binarias---------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Comienzo Brokers-------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO SECTION BROKERS*/
$variedad: (
    uno: $color1,
    dos: $color2,
    tres: $color5
);
@each $cardsVarias, $cardsBack in $variedad {
    .card--#{$cardsVarias} {
    background-color: $cardsBack;
    border-radius: $borderRadius;
    }
}
.item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.card--uno {
    text-shadow: 0 0 5px $color3;
    color: $color3;
    border: 1px solid $color3;
    box-shadow: 0 0 5px $color3;
}
.card--dos {
    text-shadow: 0 0 5px $color1;
    color: $color1;
    border: 1px solid $color1;
    box-shadow: 0 0 5px $color1;
}
.card--tres {
    text-shadow: 0 0 5px $color3;
    color: $color3;
    border: 1px solid $color3;
    box-shadow: 0 0 5px $color2;
}
.card-text a {
    color: $color4;
    text-shadow: 10px 7px 25px $color4;
}
.card-text a:hover {
    color:$color1;
    background-color: $color3;
}
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Fin Brokers----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Comienzo Interest-------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO MAIN INTEREST*/
.textoMainInterest {
    padding: 3px;
    text-decoration: underline;
    text-align: center;
}
/*FIN MAIN INTEREST*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO SECTION INTEREST*/
.contenidoInterest {
    height: auto;
}
.itemInt {
    margin: 1rem;
}
@mixin details ($color, $text-aling, $line-height, $width) {
    color: $color;
    text-align: $text-aling;
    line-height: $line-height;
    width: $width;
}
/* Agregando Mixin */
.itemInterestViolet {
    background-color: $color1;
    border: 1px solid $color3;
    box-shadow: 0 0 5px $color3;
    color: $color3;
    text-shadow: 0 0 5px $color3;
    text-align: left;
    border-radius: $borderRadius;
}
.contenidoInterestLogo{
    animation: fadeInDown; 
    animation-duration: 2s;
}
.itemInterestViolet .contenidoInterestCanal {
    @include details($color3, center, 1.5, 10rem);
    padding: 10px;
    border: 1px $color3 solid;
    border-radius: $borderRadius;
    box-shadow: 0 0 5px $color3;
    margin: 15px;
    text-shadow: 0 0 5px $color3;
}
.itemInterestViolet .contenidoInterestCanal a {
    color: $color4;
    text-shadow: 0 0 5px $color4;
}
.itemInterestBlack {
    background-color: $color5;
    border: 1px solid $color1;
    box-shadow: 0 0 5px $color1;
    color: $color1;
    text-shadow: 0 0 5px $color1;
    text-align: left;
    border-radius: $borderRadius;
}
.itemInterestBlack .contenidoInterestCanal {
    text-align: center;
    padding: 10px;
    border: 1px $color1 solid;
    border-radius: $borderRadius;
    box-shadow: 0 0 5px $color1;
    margin: 15px;
    color: $color1;
    text-shadow: 0 0 5px $color1;
    line-height: 1.5;
    width: 10rem;
}
.itemInterestBlack .contenidoInterestCanal a {
    color: $color4;
    text-shadow: 0 0 5px $color4;
}
/*FIN SECTION INTEREST*/
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Fin Interest----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Comienzo Contact----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO MAIN CONTACT*/
.jumbotronContact {
    background-image: url(../imagen/fondo19.jpg);
    .textoMainContact {
        padding: 3px;
        text-decoration: underline;
        text-align: center;
    }
}
/*FIN MAIN CONTACT*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO FORMULARIO E IMAGEN*/
.formularioContact {
    height: auto;
    padding: 10px;
    border: 1px $color1 solid;
    box-shadow: 0px 0px 10px $color3;
    border-radius: 25px;
    margin: 15px;
    color: $color3;
    background-image: url(../imagen/fondo19.jpg);
}
input:focus {
	Color: $color5;
    background-color: $color3;
}
.sectionContact {
    display: flex;
    flex-direction: column;
}
.imagenesContact {
    background-image: url(../imagen/imagenContact1.jpg);
    background-position: center;
    background-size: cover;
    height: 400px; 
    padding: 10px;
}
.tituloFormulario {
    text-align: center;
    padding: 3px;
    text-decoration: underline;
    text-shadow: 0 0 5px $color3;
}
.form-control {
    background-color: transparent;
    padding: 7px;
    margin: 10px;
    border: 1px $color1 solid;
    width: 90%;
}
.text-area {
    min-height: 100px;
}
.btn {
    background-color: $color1;
    padding: 7px;
    margin: 10px;
    border: 1px $color3 solid;
    color: $color3;
}
.btn:hover {
    color:$color1;
    background-color: $color3;
    border: 2px $color1 solid;
}
/*FIN FORMULARIO*/
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Fin Contact----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/* COMIENZO ARTICLE */
$warning:(
    borde: 1px $color1 solid,
    colorText: $color1,
    margen: 15px,
    backColor: $color3
);
.aviso {
    background-color: map-get($warning, backColor);
    padding: 5px;
    line-height: 30px;
    margin: map-get($warning, margen);
    border: map-get($warning, borde);
    box-shadow: 0 0 5px $color3;
    color: map-get($warning, colorText);
    text-shadow: 0 0 5px $color1;
    animation-name: atencion; 
    animation-duration: 3s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes atencion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.textoAviso strong{
    color: $color4;
    text-shadow: 0 0 5px $color4;
}
/* FIN ARTICLE */
/*----------------------------------------------------------------------------------------------*/
/* COMIENZO FOOTER */
.footer {
    border-top: 1px $color3 solid;
    box-shadow: 0 0 5px $color3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: auto;
}
.barra ul li {
    list-style: none;
}
.barra ul li a {
    color: $color3;
    text-decoration: none;
    font-size: $fontSize1;
    text-shadow: 0 0 5px $color1;
}
.barra a:hover {
    color: $color3;
    background-color: $color1;
}
.footerRedes {
    font-size: 20px;
    letter-spacing: 15px;
}
.fa-brands {
    padding: 5px;
    border: 1px solid $color1;
    box-shadow: 0 0 5px $color1;
    border-radius: $borderRadius;
    text-align: center;
    padding-left: 14px;
}
.footerRedes i:hover {
    color: $color2;
    background-color: $color3;
}
.fa-brands {
    color: $color1 !important;
    text-shadow: 0 0 5px $color1;
}
.footerCopy {
    color: $color4;
    font-size: 10px;
    text-shadow: 0 0 5px $color4;
}
/* FIN FOOTER */
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Media Querys---------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
    .fa-solid {
        font-size: 25px;
    }
    .logo p {
        font-size: $fontSize1;
    }
    .sectionIndex {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }
    .parrafoIndex1 {
        width: 50%;
    }
    .imagen1Index {
        margin: 5px;
        height: 400px;
        width: 50%;
        padding: 10px;
    }
    .imagen1Binarias {
        margin: 0px;
        height: 400px;
    }
    .imagen2Binarias {
        margin: 0px;
        height: 400px;
    }
    .barra ul li a {
        font-size: $fontSize1;
    }
    .aviso {
        font-size: 23px;
    }
    .footerRedes {
        font-size: 25px;
        letter-spacing: 10px;
    }
    .footerCopy {
        font-size: $fontSize1;
    }
}
@media screen and (min-width: 992px) {
    .navbar {
        font-size: 20px;
    }
    /* Index */
    .titulo{
        font-size: 45px;
    }
    .subIndex{
        font-size: 35px;
    }
    .subSubIndex {
        font-size: 30px;
    }
    .textoMainIndex {
        font-size: 20px;
    }
    .parrafoIndex11 {
        font-size: 20px;
    }
    .parrafoIndex {
        font-size: 20px;
    }
    .subTitle {
        font-size: 35px;
    }
    .sectionIndex {
        font-size: 20px;
    }
    .contenidoIndex a {
        font-size: 20px;
    } 
    .imagen1Index {
        height: 630px;
    }
    /* Binarias */
    .subBinarias {
        font-size: 35px;
    }
    .parrafoBinarias {
        font-size: 20px;
    }
    .imagen1Binarias {
        height: 430px;
    }
    .imagen2Binarias {
        height: 430px;
    }
    /*Brokers*/
    .textoMainBrokers {
        font-size: 20px;
    }
    .card-text {
        font-size: 20px;
    }
    /*Interesst*/
    .textoMainInterest {
        font-size: 20px;
    }
    .contenidoInterestDescripcion {
        font-size: 20px;
    }
    /*Contact*/
    .textoMainContact {
        font-size: 20px;
    }
    .formularioContact {
        font-size: 20px;
    }
    .sectionContact {
        flex-direction: row;
    }
    .imagenesContact {
        width: 850px;
        height: 700px; 
        padding: 10px;
    }
    .textoAviso {
        font-size: 18px;
    }
    .fa-solid {
        font-size: 45px;
    }
    .logo p {
        font-size: 20px;
    }
}
@media screen and (min-width: 1150px) {
    .card {
        margin: 30px;
    }
} 
