@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
/*C:\Users\Usuario\Desktop\root>sass --watch css/estilos.scss css/index.css*/
* {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
  box-sizing: border-box;
}

body {
  height: auto;
  width: auto;
  padding: 3px;
  scroll-behavior: smooth;
  background-color: #16080E;
}

/* COMIENZO BOOTSTRAP */
/*----------------------------------------------------------------------------------------------*/
a:hover {
  color: white;
  background-color: #8D1029;
}

/*----------------------------------------------------------------------------------------------*/
/* COMIENZO HEADER */
.headerIndex .navbar {
  background-color: transparent !important;
  font-size: 1rem;
}

.navbar {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid white;
  box-shadow: 0 0 5px white;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-shadow: 0 0 5px #8D1029;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: #8D1029;
  text-shadow: 0 0 5px white;
}

.dropdown-menu {
  background-color: #16080E;
}

.dropdown-item {
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
}

.logo {
  text-align: center;
}

.logo .logoImagen a {
  font-size: 20px;
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
}

.logoText {
  font-size: 1rem;
  color: white;
  text-shadow: 0 0 5px white;
}

.logoText .realidad {
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
}

.navbar-light .navbar-toggler {
  border-color: white;
  box-shadow: 0 0 5px white;
  background-color: #8D1029;
}

/* FIN HEADER */
/*----------------------------------------------------------------------------------------------*/
/*MIGAJA*/
.migaja {
  padding: 5px;
  width: 50%;
  margin-bottom: 0;
}

.breadcrumb {
  padding: 0;
  background-color: transparent;
}

.breadcrumb-item.active {
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
}

.breadcrumb a {
  color: white;
  text-shadow: 0 0 5px white;
}

/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Comienzo index---------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO MAIN INDEX*/
.jumbotron {
  background-image: url(../imagen/fondo19.jpg);
  border-image: 0.25rem;
  color: white;
  text-shadow: 0 0 5px white;
}
.jumbotron .titulo {
  color: #8D1029;
  padding: 3px;
  text-align: center;
  text-decoration: underline;
  animation: bounce;
  animation-duration: 2s;
  text-shadow: 0 0 5px #8D1029;
}
.jumbotron .subIndex {
  padding: 3px;
  text-align: center;
  text-decoration: underline;
}

/*FIN MAIN INDEX*/
.sectionIndex {
  text-align: center;
  color: white;
  height: auto;
  text-shadow: 0 0 5px white;
  margin: 5px;
  padding: 5px;
}

.parrafoIndex {
  padding: 3px;
  line-height: 20px;
}

.sectionIndex strong {
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
}

.question {
  margin: 4px;
  padding: 4px;
}

.list-group-item {
  margin-top: 15px;
  background-color: #16080E;
}

.imagen1Index {
  background-image: url(../imagen/indexImagen1.jpg);
  padding: 15px;
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 10px;
  border: 1px solid #8D1029;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px #8D1029;
}

/*----------------------------------------------------------------------------------------------*/
.subTitle {
  text-align: center;
  color: #8D1029;
  text-shadow: 0 0 4px #8D1029;
  border: 1px solid white;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px white;
}

/*----------------------------------------------------------------------------------------------*/
/* COMIENZO SECTION INDEX*/
.contenidoIndex {
  text-align: center;
  color: #8D1029;
  height: auto;
  text-shadow: 0 0 5px #8D1029;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  padding: 15px;
}

.contenidoIndex a {
  background-color: #8D1029;
  padding: 10px;
  border-radius: 0.25rem;
  line-height: 1.5;
  box-shadow: 0 0 5px white;
  margin: 15px;
  border: 1px white solid;
  color: white;
  text-shadow: 0 0 5px white;
}

.contenidoIndex a:hover {
  color: #16080E;
  background-color: white;
}

/* FIN SECTION INDEX*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Fin Index--------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Comienzo Binarias---------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO MAIN BINARIAS*/
.jumbotronBinarias {
  background-image: url(../imagen/fondo19.jpg);
}
.jumbotronBinarias .subBinarias {
  padding: 3px;
  text-decoration: underline;
  text-align: center;
}

/*FIN MAIN BINARIAS*/
/*----------------------------------------------------------------------------------------------*/
/* COMIENZO SECTION BINARIAS */
.sectionBinarias {
  text-align: center;
  color: white;
  height: auto;
  text-shadow: 0 0 5px white;
}

.parrafoBienarias {
  padding: 3px;
  line-height: 20px;
  height: 540px;
}

.pBinarias strong {
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
}

.imagen1Binarias, .imagen2Binarias {
  padding: 15px;
  background-image: url(../imagen/imagen1Binarias.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 20px;
  border: 1px solid #8D1029;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px #8D1029;
}

/*Utilizando Extend*/
.imagen2Binarias {
  background-image: url(../imagen/imagen2Binarias.jpg);
}

/* FIN SECTION BINARIAS */
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Fin Binarias---------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Comienzo Brokers-------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO SECTION BROKERS*/
.card--uno {
  background-color: #8D1029;
  border-radius: 0.25rem;
}

.card--dos {
  background-color: #16080E;
  border-radius: 0.25rem;
}

.card--tres {
  background-color: black;
  border-radius: 0.25rem;
}

.item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.card--uno {
  text-shadow: 0 0 5px white;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 5px white;
}

.card--dos {
  text-shadow: 0 0 5px #8D1029;
  color: #8D1029;
  border: 1px solid #8D1029;
  box-shadow: 0 0 5px #8D1029;
}

.card--tres {
  text-shadow: 0 0 5px white;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 5px #16080E;
}

.card-text a {
  color: red;
  text-shadow: 10px 7px 25px red;
}

.card-text a:hover {
  color: #8D1029;
  background-color: white;
}

/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Fin Brokers----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Comienzo Interest-------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO MAIN INTEREST*/
.textoMainInterest {
  padding: 3px;
  text-decoration: underline;
  text-align: center;
}

/*FIN MAIN INTEREST*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO SECTION INTEREST*/
.contenidoInterest {
  height: auto;
}

.itemInt {
  margin: 1rem;
}

/* Agregando Mixin */
.itemInterestViolet {
  background-color: #8D1029;
  border: 1px solid white;
  box-shadow: 0 0 5px white;
  color: white;
  text-shadow: 0 0 5px white;
  text-align: left;
  border-radius: 0.25rem;
}

.contenidoInterestLogo {
  animation: fadeInDown;
  animation-duration: 2s;
}

.itemInterestViolet .contenidoInterestCanal {
  color: white;
  text-align: center;
  line-height: 1.5;
  width: 10rem;
  padding: 10px;
  border: 1px white solid;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px white;
  margin: 15px;
  text-shadow: 0 0 5px white;
}

.itemInterestViolet .contenidoInterestCanal a {
  color: red;
  text-shadow: 0 0 5px red;
}

.itemInterestBlack {
  background-color: #16080E;
  border: 1px solid #8D1029;
  box-shadow: 0 0 5px #8D1029;
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
  text-align: left;
  border-radius: 0.25rem;
}

.itemInterestBlack .contenidoInterestCanal {
  text-align: center;
  padding: 10px;
  border: 1px #8D1029 solid;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px #8D1029;
  margin: 15px;
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
  line-height: 1.5;
  width: 10rem;
}

.itemInterestBlack .contenidoInterestCanal a {
  color: red;
  text-shadow: 0 0 5px red;
}

/*FIN SECTION INTEREST*/
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Fin Interest----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Comienzo Contact----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO MAIN CONTACT*/
.jumbotronContact {
  background-image: url(../imagen/fondo19.jpg);
}
.jumbotronContact .textoMainContact {
  padding: 3px;
  text-decoration: underline;
  text-align: center;
}

/*FIN MAIN CONTACT*/
/*----------------------------------------------------------------------------------------------*/
/*COMIENZO FORMULARIO*/
.formularioContact {
  height: auto;
  padding: 10px;
  border: 1px #8D1029 solid;
  box-shadow: 0px 0px 10px white;
  border-radius: 25px;
  margin: 15px;
  color: #8D1029;
}

input:focus {
  Color: black;
  background-color: white;
}

.tituloFormulario {
  text-align: center;
  padding: 3px;
  text-decoration: underline;
  text-shadow: 0 0 5px #8D1029;
}

.form-control {
  background-color: transparent;
  padding: 7px;
  margin: 10px;
  border: 1px #8D1029 solid;
  width: 90%;
}

.btn {
  background-color: #8D1029;
  padding: 7px;
  margin: 10px;
  border: 1px white solid;
  color: white;
}

.btn:hover {
  color: #8D1029;
  background-color: white;
  border: 2px #8D1029 solid;
}

/*FIN FORMULARIO*/
/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------Fin Contact----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/* COMIENZO ARTICLE */
.aviso {
  background-color: white;
  padding: 5px;
  line-height: 30px;
  margin: 15px;
  border: 1px #8D1029 solid;
  box-shadow: 0 0 5px white;
  color: #8D1029;
  text-shadow: 0 0 5px #8D1029;
  animation-name: atencion;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes atencion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.textoAviso strong {
  color: red;
  text-shadow: 0 0 5px red;
}

/* FIN ARTICLE */
/*----------------------------------------------------------------------------------------------*/
/* COMIENZO FOOTER */
.footer {
  border-top: 1px white solid;
  box-shadow: 0 0 5px white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: auto;
}

.barra ul li {
  list-style: none;
}

.barra ul li a {
  color: white;
  text-decoration: none;
  font-size: 10px;
  text-shadow: 0 0 5px #8D1029;
}

.barra a:hover {
  color: white;
  background-color: #8D1029;
}

.footerRedes {
  text-align: center;
  font-size: 20px;
  letter-spacing: 10px;
}

.footerRedes i:hover {
  color: #16080E;
  background-color: white;
}

.fa-brands {
  color: #8D1029 !important;
  text-shadow: 0 0 5px #8D1029;
}

.footerCopy {
  color: red;
  font-size: 10px;
  text-shadow: 0 0 5px red;
}

/* FIN FOOTER */
/*----------------------------------------------------------------------------------------------*/
/* FIN BOOTSTRAP */
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------Media Querys---------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .fa-solid {
    font-size: 25px;
  }
  .logo p {
    font-size: 1rem;
  }
  /* Index */
  .parrafoIndex {
    margin: 0 25px 0 25px;
  }
  .imagen1Binarias, .imagen2Binarias {
    margin: 0px;
    height: 400px;
  }
  .imagen2Binarias {
    margin: 0px;
    height: 400px;
  }
  .imagen1Index {
    margin: 0px;
    height: 400px;
  }
  .barra ul li a {
    font-size: 1rem;
  }
  .aviso {
    font-size: 23px;
  }
  .footerRedes {
    font-size: 25px;
    letter-spacing: 10px;
  }
  .footerCopy {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    font-size: 20px;
  }
  /* Index */
  .titulo {
    font-size: 45px;
  }
  .subIndex {
    font-size: 35px;
  }
  .subSubIndex {
    font-size: 30px;
  }
  .textoMainIndex {
    font-size: 20px;
  }
  .parrafoIndex {
    font-size: 20px;
  }
  .subTitle {
    font-size: 35px;
  }
  .seccionesIndex {
    font-size: 35px;
  }
  .contenidoIndex a {
    font-size: 20px;
  }
  .imagen1Index {
    height: 430;
  }
  /* Binarias */
  .subBinarias {
    font-size: 35px;
  }
  .parrafoBinarias {
    font-size: 20px;
  }
  .imagen1Binarias, .imagen2Binarias {
    height: 430px;
  }
  .imagen2Binarias {
    height: 430px;
  }
  /*Brokers*/
  .textoMainBrokers {
    font-size: 20px;
  }
  .card-text {
    font-size: 20px;
  }
  /*Interesst*/
  .textoMainInterest {
    font-size: 20px;
  }
  .contenidoInterestDescripcion {
    font-size: 20px;
  }
  /*Contact*/
  .textoMainContact {
    font-size: 20px;
  }
  .formularioContact {
    font-size: 20px;
  }
  .textoAviso {
    font-size: 18px;
  }
  .fa-solid {
    font-size: 45px;
  }
  .logo p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1150px) {
  .card {
    margin: 30px;
  }
}

/*# sourceMappingURL=index.css.map */
